<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">introduce</h2>
                <hr class="light">
                <p class="text-faded">초등학교 때부터 컴퓨터 게임을 하는것에 관심이 많았습니다. 고등학교때 목적없이 공부만 하다가 컴퓨터공학과가 있다는 걸 보고 컴퓨터와 관련된 과가 있다는 것에 기뻐서 입학하게 되었고 그 후 몰랐던 지식들을 쌓다보니 알고싶은 것도 많아졌고 앱과 웹에 대해서 더 배우고 싶다는 생각이 들고있습니다.</p>
                <a href="#services" class="btn btn-default btn-xl">More</a>
            </div>
        </div>
    </div>
</section>
