<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Infomation</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                    <i class=""></i>
                    <h3>학력</h3>
                    <p class="text-muted">표선중학교</p>
                    <p class="text-muted">대기고등학교</p>
                    <p class="text-muted">제주대학교 컴퓨터공학전공</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="">
                    <i class=""></i>
                    <h3>Language/Tool</h3>
                    <p class="text-muted">Java</p>
                    <p class="text-muted">HTML</p>
                    <p class="text-muted">Android studio</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="">
                    <i class=""></i>
                    <h3>목표</h3>
                    <p class="text-muted">앱 개발과 웹 개발을 둘다 할 수있도록 하고싶습니다.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="">
                    <i class=""></i>
                    <h3>Project</h3>
                    <p class="text-muted">캡스톤 수업을 통해 앱 개발 노력중입니다.</p>
                </div>
            </div>
        </div>
    </div>
</section>
